.wrapper {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* align-items: center;
  justify-content: space-between; */
}

.wrapper > div:nth-child(2) {
  margin-left: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
