@import "../stories/header/header.css";
@import "../stories/Page/page.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

.collum {
  display: flex;
  margin-bottom: 23px;
}

.collum > div {
  margin-right: 24px;
}

.collum:nth-child(2) {
  margin-bottom: 36px;
}
